// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.activeHighLight{
    background-color: lightgray;
}

.avatar-icon{
    border-radius:50%;
    width: 64px;
    height: 64px;
    font-size: 60px;
}

.error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }

.error1 {
color: rgb(75, 75, 75);
border-bottom: 1px solid #ff0000;
}

@font-face{
    font-family: Pacifico !important;
    src: '../assets/fonts/pacifico.woff2'
}

*{
    font-family: Pacifico;
}

